.main-nav {
            display: flex;
            justify-content: space-around; /* oder flex-start, center etc. */
            background-color: rgba(226, 43, 134, 0.6);
            padding: 10px;
                    /* Diese Eigenschaften sorgen dafür, dass die Leiste oben fixiert wird */
            position: fixed; /* Fixiert das Element relativ zum Viewport */
            top: 0;          /* Platziert es am oberen Rand */
            left: 0;         /* Platziert es am linken Rand */
            width: 100%;     /* Lässt es die gesamte Breite einnehmen */
            z-index: 1000;   /* Stellt sicher, dass es über anderem Inhalt liegt */
            box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Optional: leichter Schatten für Tiefe */
        }
        .main-nav a {
            color: white;
            text-decoration: none;
            }

     
     
     body {
            font-family: sans-serif;
            line-height: 1.6;
            margin: auto;
            max-width: 800px; /* Oder eine andere gewünschte Breite */
            
        .second-bg {

            width: 800px; /* Breite der Visitenkarte */
            padding: 10px; /* Innenabstand zwischen Inhalt und Rand */
            border: 2px solid #e22b86; /* Rand: Dicke, Stil, Farbe (Japan-Rot) */
            margin: auto; /* Außenabstand, 'auto' zentriert horizontal bei gesetzter Breite */
            margin-top: 10%;  /* Außenabstand oben */
            background-color: rgba(0, 0, 0, 0.6); /* Hintergrundfarbe mit Transparenz */
            text-align: center; /* Text zentrieren */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Leichter Schatten */
            border-radius: 10px; /* Abgerundete Ecken */
        }


            
            
            
        }
        article, table {
            max-width: 800px;
            margin: auto;
            text-align: center;
            color: #ffffff;
            text-shadow: 2px 2px 2px #000000;
        }
        h1, h2, h3, footer {
            color: #ffffff;
            text-align: center;
            text-shadow: 2px 2px 4px #000000;
        }

        h1 {
            margin-top: 10%;
        }

        
        img {
            max-width: 50%;
            height: auto;
            display: block;
            margin: 20px auto;
            border-radius: 8px;
            
        }
        .image-caption {
            text-align: center;
            font-size: 0.9em;
            color: #ffffff;
            margin-top: 5px;
        }
        a {
            color: #e22b86;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        section {
            margin-bottom: 30px;
            padding-bottom: 20px;
            border-bottom: 1px solid #eee;
        }
        section:last-child {
            border-bottom: none;
        }

        #main-title {
            color: #e22b86; /* Ein Lilaton für Japan-Flair */
        }

        body, html {
            background-image: url("https://bit.ly/43Kdzup"); /* The image used */
            height: 100%; /* Full height */
            background-attachment: fixed; /* Create the parallax scrolling effect */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
